<div class="content">
	<div class="container">
		<div class="col-sm-12">
			<img class="img-responsive" src="images/logo.png" alt="">
		</div>
		<button type="submit" class="btn btn-default">Sign in with Spotify</button>
		<button type="submit" class="btn btn-default">Sign in with Deezer</button>
	</div>
</div>



<!-- 
<div class="jumbotron" ng-controller="MainCtrl">
  <h1>Beat for Speed!</h1>
  <p><a id='geolocation' class='btn btn-success' ng-click='speedChange()'>SPEED: {{ speed }}</a></p>
 <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the BumpNasty team</p>
</div>
-->