<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">Music That Drives You</h3>
</div>

<div class="jumbotron" ng-controller="MainCtrl">
  <h1>Beat for Speed!</h1>
  <p><a id='geolocation' class='btn btn-success' ng-click='speedChange()'>SPEED: {{ speed }}</a></p>
<!--   <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p> -->
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the BumpNasty team</p>
</div>
