<div class="content">
	<div class="container">
		<div class="col-sm-12">
			<a href="/#/player"><img class="img-responsive" src="images/logo.png" alt=""></a>
		</div>
		<a href="/#/player"><button type="submit" class="btn btn-default">Sign in with Spotify</button></a>
		<button type="submit" class="btn btn-default">Sign in with Deezer</button>
	</div>
</div>

<div class="jumbotron" ng-controller="MainCtrl">
  <p><a id='geolocation' class='btn btn-success' ng-click='speedChange()'>SPEED: {{ trip.speed }}</a></p>
  <p>Song playing {{ trip.songID }}</p>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the BumpNasty team</p>
</div>
