
<div class="container">
	<div class="col-xs-12">
		<div class="row">
			<div class="stats">
				<div class="stat kmh">
					<h1>114</h1>
					<p>km/h</p>
				</div>
				<div class="stat bpm">
					<h1>160</h1>
					<p>bp/m</p>
				</div>
			</div>
		</div>
	</div>
</div>





<!-- <div ng-controller="MainCtrl">
  <p><a id='geolocation' class='btn btn-success' ng-click='speedChange()'>SPEED: {{ speed }}</a></p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p> 
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the BumpNasty team</p>
</div>

-->