<div class="content">
	<div class="container">
		<div class="col-sm-12">

			<div class="stats">
				<div class="kmh">
					<h1>114</h1>
					<p>km/h</p>
				</div>
				<div class="bpm">
					<h1>160</h1>
					<p>bp/m</p>
				</div>
			</div>

			<div class="track-info">
				<h1>This life</h1>
				<h2>Curtis Stigers & The Forest Rangers</h2>
			</div>

			<div class="controls">
				<a href="#"><img src="images/previous.png"></a>
				<a href="#"><img src="images/pause.png"></a>
				<a href="#"><img src="images/next.png"></a>
			</div>
</div>




<div class="jumbotron" ng-controller="MainCtrl">
  <h1>Beat for Speed!</h1>
  <p><a id='geolocation' class='btn btn-success' ng-click='speedChange()'>SPEED: {{ speed }}</a></p>
<!--   <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p> -->
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the BumpNasty team</p>
</div>
