<div class="container">
	<div class="col-xs-12">
		<div class="row">
			<div class="stats">
				<div class="stat kmh">
					<h1>114</h1>
					<p>km/h</p>
				</div>
				<div class="stat bpm">
					<h1>160</h1>
					<p>bp/m</p>
				</div>
			</div>
			<div class="track-info">
				<h1>This life</h1>
				<h2>Curtis Stigers & The Forest Rangers</h2>
			</div>

			<div class="controls">
				<a href="#"><img class="previous" src="images/previous.png"></a>
				<a href="#"><img class="play" src="images/play.png"></a>
				<a href="#"><img class="next" src="images/next.png"></a>
			</div>
		</div>
	</div>
</div>